* {
	box-sizing: border-box;
}	
h1 {
	margin-bottom: 20px;
	text-align: center;
	margin-top: 50px;
  font-family: Helvetica;
}
.row{
  width: 100%;
  padding: 20px;
}

.gen {
	border: 1px solid black;
	background-color: #DD6CD3;   
 	 width: 90%;
  height: 300px;
  margin-right: auto;
  margin-left: auto;
  font-family: Helvetica;
  color: black;
  padding: 10px;
  padding-top: 40px;
  position: relative;
  margin-bottom: 20px;
 
}
#p1,#p2, #p3{
	float: right;
}

#chick, #beef, #sushi
{
border: 1px solid black;
position: absolute;
top: -30px;
right: 0px;
width: 150px;
text-align: center;
height: 40px;
border-top: none;
border-right: none;
padding: 2px;
font-size: 30px;
background-color: #521558;
color: white;
}







/********** Desktop View **********/
@media (min-width: 992px) {
  #p1 {
    width: 33.33%;
  }
  #p2 {
    width: 33.33%;
  }
  #p3{
  	width: 33.33%;
  }
}


/********** Tablet View **********/
@media (min-width: 768px) and (max-width: 991px) {
  #p1 {
    width: 50%;
  }
  #p2 {
  	width: 50%;
  }
  #p3 {
  	width: 100%;
  }

/********** Mobile View **********/
@media (max-width: 767px) {
  #p1 {
    width: 100%;
  }
  #p2 {
  	width: 100%;
  }
  #p3 {
  	width: 100%;
 
  }